//
//Colors!
//
//
//

//Globals
$not_white: rgba(236, 240, 241,1.0);
$cobalt: rgba(44, 62, 80,1.0);
$blue: #2980b9;
$pom: #c0392b;
$sun: #f1c40f;
$green: #2ecc71;
$dark_gray:  lighten(#222222,20%);
$light_gray: #EEEEEE;


$light_txt: $not_white; //clouds #ecf0f1
$med_txt: rgba(127, 140, 141,0.8);//dark grey #7f8c8d
$dark_txt: rgba(#825F53,0.8);

$bhpgold: #AD8934;

$main: $bhpgold;
$bg: lighten(#222,75%);
$main_alt: rgba(#825F53,1.0);

// $sub: darken(#e67e22,10%);
$sub: darken(#d4a190,50%);
$sub_alt: rgba(236, 240, 241,1.0);

$accent: rgba(#825E53,1.0);
$accent_alt: #eee;

//color loops

@each $bg_name, $color in
  (main,$main),
  (sub,$sub),
  (dark,$dark_txt),
  (light,$light_txt),
  (med,$med_txt),
  (yay,#2ecc71),
  (warn,#f1c40f),
  (aww,#c0392b),
  (ahh,#d35400),
  (fyi,#2980b9){

  .bg-#{$bg_name}{
    background-color: $color !important;
  }
  .label-#{$bg_name}{
    background-color: $color !important;
  }
  .btn-#{$bg_name}{
    background-color: $color !important;
  }
  .icon-#{$bg_name}{
    color: $color !important;
  }
  .txt-#{$bg_name}{
  	color: $color !important;
    font-weight: normal;
    &.heavy{
      font-weight: 600;
    }
    &.light{
      font-weight: 300;
    }
  }

}

//wrapper
$wrap_bg: $main;

//
//Nav
//
$nav_active: $sub; //Nephritis

$light_icon: $light_txt;
$light_icon_alt: $accent_alt;

$med_icon: $accent;
$med_icon_alt: $med_txt;

$alt_icon: $sub;

$dark_icon: $main;
$dark_icon_alt: $dark_txt;

//Top
$nav_bg: $main; //Midnigh blue
$nav_2nd_bg: $main_alt; //Wet assphalt

//Side

//separators
$dark_sep:$accent;

//
//Login
//
$login_bg: $nav_bg;

//Labels

.label-blk{
	background-color:#222;
	color: $light_txt;
}
.label-grey{
	background-color: rgba(#222,0.7);
	color: $light_txt;
}
.label-purp{
	background-color:#8e44ad;
	color: $light_txt;
}
.label-org{
	background-color:#d35400;
	color: $light_txt;
}
.label-dkblu{
	background-color:$main;
	color: $light_txt;
}
.label-em{
	background-color:$sub;
	color: $light_txt;
}
.label-lg{
	font-size: 1em;
}
.label{
	margin: .5em;
}

//bgs


//Btns
.btn-blk{
	background-color:#222;
	color: $light_txt;
	&:hover{
		color: $light_txt;
		background-color:transparentize(#222,0.1);
	}
	&:active,&:focus{
		color: $light_txt !important;
	}
}
.btn-dkblu{
	background-color:$main;
	color: $light_txt;
	&:hover{
		color: $light_txt;
		background-color:transparentize($main,0.1);
	}
	&:active,&:focus{
		color: $light_txt !important;
	}
}
.panel-canna {
    border-color: $nav_active;
    .panel-heading {
	    border-color: $nav_bg;
	    i{
	    	color: $nav_bg;
	    }
	    color: $light_txt;
	    background-color: $nav_active;
	    a {
		    color: $nav_2nd_bg;
		    &:hover {
			    color: $nav_active;
			    i{
			    	font-size:125%;
			    	transition:0.25s;
			    }
			}
		}
	}
	a {
	    color: $nav_2nd_bg;
	    &:hover {
		    color: $nav_active;
		    i{
		    	font-size:125%;
		    	transition:0.25s;
		    }
		}
	}
}
.panel-canna-dk {
    border-color: $nav_bg;
    .panel-heading {
	    border-color: $med_txt;
	    i{
	    	color: $nav_active;
	    }
	    color: $light_txt;
	    background-color: $nav_bg;
	    a {
		    color: $med_txt;
		    &:hover {
			    color: $nav_bg;
			    i{
			    	font-size:125%;
			    	transition:0.25s;
			    }
			}
		}
	}
	a {
	    color: $med_txt;
	    &:hover {
		    color: $nav_bg;
		    i{
		    	font-size:125%;
		    	transition:0.25s;
		    }
		}
	}
}
