body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Droid Sans','Open Sans',sans-serif;

}

#app-container{
	@include fill-parent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // z-index: 10;
    position: absolute;
}

#content{
	@include fill-parent;
	height:100%;
    width: 100%;
	margin:0; 
    top: 0;
	overflow-x:hidden;
	overflow-y:auto;
	position: absolute;
	// padding-top:em(72);
    .loading-main{
        font-size: 5em;
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-top: 35%;
    }
}
.view{
    @extend #content;
}
#viewStage{
    display: none;
}
#menubtn{
    float: left;
    position: absolute;
    top: 1em;
    left: 1em;
}
#sidemenu{
    @include raised-lvl(3);
    height: 100%;
    width: 35%;
    position: absolute;
    float: left;
    left: -80%;
    top:0;
    background: $dark_gray;
    .header{
        height: 2em;

        .txt{
            font-size: 1.5em;
        }
        .logo{

        }
    }
    .item{
        width: 100%;
        height: auto;
        padding: 1em;
        border-bottom: 1px solid $not_white;
        color: $not_white;
        .txt{
            font-size: 1.5em;
            // margin-left: .5em;
            display: inline-block;
        }
        .icon{
            font-size: 1.5em;
            margin-top: -.4em;
            display: inline-block;
            float: left;
        }
    }
}

.lt-640{
    #sidemenu{
        width: 60%;
        // left:-60%;
    }
}

#indicator{
    @include raised-lvl(3);
    z-index:7;
    height: auto;
    padding:.75em;
    float:left;
    position:absolute;
    background-color: $dark_gray;
    border-radius: .125em;

    width:auto;
    bottom:1em;
    left:1em;
    i{
	  margin-top: .25em;
    }
    .txt{
      color:$not_white;
      margin-left:.5em;
    }
    @include media($hybrid){
        width:auto;
        bottom:1em;
        left:1em;
    }
    @include media($desk){
        width:auto;
        bottom:1em;
        left:1em;
    }
    &.err{

		i{
		  color:$pom;
		}
    }
    &.win{

		i{
		  color:$green;
		}
    }
    &.info{

		i{
		  color:$blue;
		}
    }
}

.hide-til-loaded{
	display:none;
}
.show-til-loaded{
	width: 95%;
	padding: 1em;
	@include pad-fix();
	text-align:center;
	margin-top: 15%;
	i{
		font-size: 6em !important;
	}
	h1{
		font-size: 2em;
		font-weight: 300;
	}
}
